.libModify-modal-content{
    max-width: 80%;
}
.libModify-container{
    height: 600px;
}
.rc-tree-child-tree {
    display: block;
}

.node-motion {
    transition: all .3s;
    overflow-y: hidden;
}
.libModify-tree-container{
    overflow: hidden;
    overflow-y: auto;
}
.libModify-tree{
    width: 95%;
}
.rc-tree-list{
    overflow: hidden;
}
.libModify-pane-con{
    padding-left: 5px;
    flex: 1;
}
.libModify-pane-title{
    height: 32px;
    line-height: 32px;
    font-weight: bold;
}
.libModify-pane-doc{
    color: #ca841d;
}
.Pane.horizontal.Pane2{
    overflow-y:auto;
}
.libModify-pane-title-bottom{
    position: absolute;
    bottom: 0;
}
.rc-tree-node-selected{
    background: #1c5d27;
}
