.form-group {
    display: flex;
    border:1px solid #333;
}

.form-group > label {
    font-size: 13px;
    width: 85px;
    display: block;
    margin: 10px 0;
}

.form-group > *:last-child {
    flex-grow: 1;
    margin: 5px 0;
}
