.form-group {
    display: block;
}
.form-group-container{
    border: 1px solid #dcdcdc;
    padding: 10px 30px;
}
.form-group > label {
    font-size: 13px;
    margin: 10px 0;
    width: 85px;
    display: inline-block;
}
.form-group > *:last-child {
    flex-grow: 1;
    margin: 5px 0;
}
