.sourceConf-containers{
    width: 100%;
    background: #10131f;
    overflow-y: auto;
}
.sourceConf-typeSwitch{
    height: 42px;
    margin: 10px;
}
.sourceConf-typeSwitch ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    list-style: none;
}
.sourceConf-typeSwitch ul li {
    display: table-cell;
    min-width: 56px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #adadad;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    color: #f7f7f7;
}

.sourceConf-typeSwitch ul li+li {
    border-left: 1px solid #e0e0e0;
    border-radius: 0px 5px 5px 0;
}
.sourceConf-typeSwitch ul li:hover{
    background: #d0d0d0;
    color: #fff;
}
.sourceConf-typeSwitch-ul-li-active{
    background: #c06bd6 !important;
    color: #fff !important;
    transition: background-color;
    transition-duration: 0.5s;
}
.sourceConf-list{
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.sourceConf-list ul{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-bottom: 10px;
}
.sourceConf-list li{
    width: 280px;
    height: 160px;
    background: #e2e2e2;
    margin-top: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #000;
    cursor: pointer;
}
.sourceConf-list li:hover{
    background: #fff;
}
.sourceConf-type-icon,.sourceConf-type-title{
    display: block;
}
.sourceConf-type-icon{
    height: 130px;
    width: 100%;
}
.sc-type-icon-oracle{
    background: url("../../../icons/oracle.svg") center center no-repeat;
    background-size: 60% 60%;
}
.sc-type-icon-oracle + .sourceConf-type-title{
    background: #7f322d;
}
.sc-type-icon-mysql{
    background: url("../../../icons/mysql.svg") center center no-repeat;
    background-size: 60% 60%;
}
.sc-type-icon-mysql + .sourceConf-type-title{
    background: #8e5a17;
}
.sc-type-icon-excel{
    background: url("../../../icons/excel.svg") center center no-repeat;
    background-size: 60% 60%;
}
.sc-type-icon-excel + .sourceConf-type-title{
    background: #1c5d27;
}
.sc-type-icon-sqlserver{
    background: url("../../../icons/sqlserver.svg") center center no-repeat;
    background-size: 60% 60%;
}
.sc-type-icon-sqlserver + .sourceConf-type-title{
    background: #0f6573;
}
.sc-type-icon-api{
    background: url("../../../icons/api.svg") center center no-repeat;
    background-size: 60% 60%;
}
.sc-type-icon-api + .sourceConf-type-title{
    background: #224265;
}
.sc-type-icon-add{
    background: url("../../../icons/add.svg") center center no-repeat;
    background-size: 60% 60%;
}
.sourceConf-type-title{
    height: 30px;
    width: 100%;
    line-height: 30px;
    background: #3a3a3a;
    color: #f3f3f3;
    border-radius:  0 0 4px 4px;
}
